<div id="weather-text">Načítám…</div>

<div id="weather-tags" class="tags">
  <a class="tag tag-ct" data-key="ct" href="https://www.ceskatelevize.cz/pocasi/" target="_blank" rel="noopener">Počasí ČT</a>
  <a class="tag tag-idnes" data-key="idnes" href="https://www.idnes.cz/pocasi" target="_blank" rel="noopener">iDNES Počasí</a>
  <a class="tag tag-novinky" data-key="novinky" href="https://www.novinky.cz/pocasi" target="_blank" rel="noopener">Novinky Počasí</a>
  <a class="tag tag-radar" data-key="meteoradar" href="https://www.meteoradar.cz/" target="_blank" rel="noopener">Meteoradar</a>
  <a class="tag tag-windy" data-key="windy" href="https://www.windy.com/" target="_blank" rel="noopener">Windy</a>
  <a class="tag tag-yr" data-key="yr" href="https://www.yr.no/" target="_blank" rel="noopener">Yr.no</a>
</div>
